@charset "UTF-8";

/*Estilo para impressoras*/


* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

header > h1 {
    font-weight: bold;
    text-decoration: overline;
}

ul > li {
    display: none;
}

main {
    text-align: center;
}

article > p {
    text-transform: uppercase;
    text-align: justify;
}

